//Please import All plugins in plugins.scss file
@import "./plugins";

*{
  font-family: 'Hanken Grotesk', sans-serif;
}
body{
  overflow-x: hidden;
}
//button css
.btn{
  position: relative;
    display: inline-block;
    background: $primary;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1em;
    text-transform: capitalize;
    border: none;
    padding: 16px 32px 16px 20px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    z-index: 0;
    font-size: 16px;
    border-radius: 4px;
    span{
      position:relative;
      z-index: 1;
      margin-right: 8px;
    }
    &::after{
      @include overlay($t:0,$l:-15%,$w:0,$h:106%,$bg:$primarydark,$b:auto,$r:auto,$op:1);
      transform: skew(45deg);
      transition: all 0.4s ease-in-out;
    }
    svg{
      width: 16px;
      height: 16px;
      position:relative;
      z-index: 1;
      path{
        stroke: white;
      }
      transition: all 0.4s;
    }
    &:hover{
      color: #fff;
      &::after{
      width: 100%;
      left: 0;
      transform: skew(0deg);
    }
    svg{
      transform: translate(4px);
    }
    }
    @media (max-width:575.99px) {
      font-size: 14px;
      padding: 12px 16px;
    }
}
.form-control:focus{
  border-color: $primary;
  box-shadow: 0 0 0 0.2rem rgba($primary, 0.25);
}
// heading css
.heading{
  font-size: 14px;
  font-weight: 600;
  color: $primary;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  svg{ 
    width: 20px;
    margin-right: 4px;
    path{
      stroke: $primary;
    }
  }
}
.banner{
// padding: 0 20px;
.swiper {
  width: 100%;
//   border-radius: 10px;
// overflow: hidden;
  .swiper-pagination{
    .swiper-pagination-bullet{
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #fff;
      &.swiper-pagination-bullet-active{
        width: 30px;
        border-radius: 5px;
      }
    }
  }
}

.swiper-slide {
  // text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  min-height: 100vh;
  &::after{
    @include overlay($t:0,$l:0,$w:100%,$h:100%,$bg:rgba($color: #000000, $alpha: 1.0),$b:auto,$r:auto,$op:0.6);
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width:991.99px) {
  .swiper-slide{
    .text-area{
      h3{
        font-size: 60px;
        margin-bottom: 24px;
      }
      p{
        font-size: 20px;
      }
    }
  }
}
@media (max-width:575.99px) {
  .swiper-slide{
    height: 400px;
    min-height: auto;
    .text-area{
      padding-top: 86px;
      .heading{
        font-size: 14px;
      }
      h3{
        font-size: 40px;
        margin-bottom: 18px;
      }
      p{
        font-size: 16px;
        margin-bottom: 16px;
      }
    }
  }
}
@media (max-width:517.99px) {
  .swiper-slide{
    .text-area{
      .heading{
        font-size: 12px;
      }
      h3{
        font-size: 28px;
        line-height: 100%;
      }
      p{
        font-size: 14px;
      }
      .btn{
        padding: 12px 12px 12px 12px;
        font-size: 14px;
      }
    }
  }
}
}
.title{
  font-size: 46px;
  font-weight: 600;
  margin-bottom: 24px;
  @media (max-width:575.99px) {
    font-size: 28px;
  }
}
//about section css
.about-us{
  margin: 60px 0;
  background-image: url(../../assets/images/section-bg-shape-1.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  padding: 100px 0;
  .image{
    img{
      width: 100%;
      height: 400px;
    }
  }

  p{
    margin-bottom: 24px;
  }
  @media (max-width:575.99px) {
    padding: 0;
    margin: 40px 0;
    .image{
      img{
        height: 330px;
      }
      margin-bottom: 24px;
    }
    .text{
      .heading{
      margin-bottom: 16px;
    }
    .title{
      margin-bottom: 16px;
    }
    p{
      font-size: 14px;
      margin-bottom: 16px;
    }
    }
  }
}
//our services
.our-services{
  margin-bottom: 60px;
  .heading{
    margin-bottom: 4px;
  }
  .title{
    max-width: 600px;
  }
  .service{
    position: relative;
    overflow: hidden;
    img{
      width: 100%;
      height: 500px;
      object-fit: cover;
      transition: all 0.4s;
    }
    .text{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba($color: #000000, $alpha: 0.5);
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: end;
      padding: 32px 32px;
      h3{
        text-transform: capitalize;
        font-size: 20px;
      }
      p{
        font-size: 16px;
      }
      .btn{
        width: fit-content;
        transform: scaleY(-50px);
      }
    }
    &:hover{
      img{
        transform: scale(1.5);
      }
    }
  } 
  @media (max-width:767.99px) {
    .service{
      margin-bottom: 16px;
    }
    margin-bottom: 40px;
  }
  @media (max-width:420px) {
    .service{
      img{
        height: 300px;
      }
      .text{
        p{
          font-size: 14px;
        }
      }
    }
  }
}
//why choose us
.why-choose-us{
  .heading{
    text-align: center;
    width: 100%;
    justify-content: center;
    font-size: 32px;
  }
.whyChooseUs_slide-icons {
  .swiper-slide{
    width: fit-content;
    svg{
      width: 100%;
    }
  }
}
@media (max-width:575.99px) {
  .swiper-slide{
    svg{
      height: 120px;
    }
  }
}
}
.endToEndInteriorSolution{
  margin: 60px 0;
  border-bottom: 2px solid #eee;
  border-top: 2px solid #eee;
  padding: 50px 64px;
  text-align: center;
  .heading{
    text-align: center;
    width: 100%;
    justify-content: center;
    font-size: 32px;
    margin-bottom: 32px;
  }
  .interiors{
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
    a{
      display: block;
      width: 20%;
      color: #000;
      text-decoration: none;
      text-align: center;
      margin-bottom: 16px;
    }
  }
  @media (max-width:575.99px) {
    padding-left: 16px;
    padding-right: 16px;
    .interiors{
      a{
        width: 50%;
      }
    }
  }
}
.our-testimonial{
  margin-bottom: 40px;
  .container-fluid{
    padding: 0;
  }
  .image{
    height: 100%;
    img{
      aspect-ratio: 1 / 0.82;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .text{
    padding: 100px 0;
    background-color: #F8F8F8;
    .heading{
      padding: 0 38px;
    }
    .title{
      padding: 0 38px;
      span{
        color: $primary;
      }
    }
    .swiper-slide{
      padding: 0 38px;
      padding-bottom: 50px;
      .starts{
        display: flex;
        margin-bottom: 24px;
        i{
          margin-right: 6px;
        }
      }
      p{
        font-size: 20px;
        margin-bottom: 24px;
      }
      .user{
        display: flex;
        align-items: center;
        img{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 8px;
        }
        .info{
          h3{
            font-size: 20px;
            text-transform: capitalize;
            margin-bottom: 0;
          }
          p{
            font-size: 16px;
            margin-bottom: 0;
          }
        }
      }
    }
    .swiper-pagination3{
      margin-top: 24px;
      text-align: center;
      .swiper-pagination-bullet{
        width: 12px;
        height: 12px;
        &.swiper-pagination-bullet-active{
background-color: $primary;
        }
      }
    }
    .swiper-button-next,.swiper-button-prev{
      color:$primary;
      width: 30px;
      height: 30px;
      background-color: $primary;
      border-radius: 50%;
      bottom: 0;
      top: auto;
      &::after{
        font-size: 12px;
        color: #fff;
      }
    }
    .swiper-button-prev{
      left: 42px;
    }
    .swiper-button-next{
      left: 82px;
    }
  }
  @media (max-width:991.99px) {
   height: auto; 
   .image{
    img{
      height: 300px;
    }
   }
   .text{
    padding: 40px 0;
   }
  }
  @media (max-width:575px) {
    .text{
      .heading{
        padding: 0 20px;
      }
      .title{
        padding: 0 20px;
      }
      .swiper-slide{
       padding-left: 20px;
       padding-right: 20px;
      }
    }
  }
}
/* Optional: Custom styles for the modal */
.modal-content {
  border-radius: 8px;
  overflow: hidden;
  .modal-body{
    .img-fluid{
      height: 100%;
    }
    form{
      padding: 20px;
      padding-left: 0;
      h3{
        font-size: 26px;
        font-weight: bold;
      }
    }
    @media (max-width:767.99px) {
      form{
        padding-left: 20px;
      }
    }
  }
}

.modal-header, .modal-footer {
  background-color: #f8f9fa;
}

.modal-title {
  color: #007bff;
}