.footer {
    padding: 20px 0;
    background-color: #f8f9fa; /* Light background color */
}

.footer .nav-link {
    color: #343a40; /* Dark text color */
    transition: color 0.3s;
}

.footer .nav-link:hover {
    color: #007bff; /* Change color on hover */
}

.footer .copyright {
    margin-top: 20px; /* Add space above the copyright section */
    padding-top: 10px; /* Add padding to the top */
    border-top: 1px solid #dee2e6; /* Add a top border for separation */
    color: #6c757d; /* Slightly lighter text color */
    font-size: 0.9rem; /* Slightly smaller font size */
}
.footer-sticky-mobile{
        background: $primary;
        padding: 10px;
        width: 100%;
        max-width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 999;
        margin-left: 0px;
        box-shadow: 0 0 21px 8px rgb(255,255,255,.26);
        img{
            height: 30px;
        }
    display: flex;
    justify-content: space-around;
    a{
        color: #fff;
        text-align: center;
        font-size: 12px;
        span{
            display: block;
        }
    }
}