<div class="footer-sticky-mobile">
<a href="#">
    <img src="assets/images/Designs-Icon.png" alt="">
    <span>Designs</span>
</a>
<a href="tel:124567890">
    <img src="assets/images/Call-Now-CTA.png" alt="">
    <span>Call Now</span>
</a>
<a href="#welcomeModal" data-toggle="modal">
    <img src="assets/images/BookConsultation-Icon.png" alt="">
    <span>Get Free Quote</span>
</a>
<a href="#">
    <img src="assets/images/Whatsapp-Icon.png" alt="">
    <span>Whatsapp</span>
</a>
</div>
<footer class="footer text-center">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="collapse navbar-collapse" id="footerNavbar">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Comercial Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="services.html">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Design & Build</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Video</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="copyright">
            <p class="mb-0">&copy; 2025 Your Company Name. All rights reserved.</p>
        </div>
    </div>
</footer>